<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
    h1 {
    text-align: center;
    }

    </style>
    <meta charset="UTF-8">
    <title>All Racess</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>All Racess</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Km</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="race : ${hellraces}">
            <td th:text="${race.raceId}"></td>
            <td th:text="${race.raceName}"></td>
            <td th:text="${race.raceKm}"></td>
            <td>
     <!--         <a th:href="@{/hellrunner/{id}(id=${hellrunner.runnerId})}" class="btn btn-primary">View</a> -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>