<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Runners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>All Runners</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hellrunner : ${hellrunners}">
            <td th:text="${hellrunner.runnerId}"></td>
            <td th:text="${hellrunner.runnerName}"></td>
            <td th:text="${hellrunner.runnerAge}"></td>
            <td th:text="${hellrunner.runnerGender}"></td>
            <td>
              <a th:href="@{/hellrunner/{id}(id=${hellrunner.runnerId})}" class="btn btn-primary">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>tml>