<!DOCTYPE html>
<html lang="En" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add A New Race</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        h1 {
        text-align: center;
        }
        </style>
    </head>
    <body>
    <div class="container">
        <h1>Add New Race</h1>
        <form th:action="@{/addnewrace}" th:object="${raceData}" method="post">
            <div class="form-group">
                <label for="raceName">A verseny neve:</label>
                <input type="text" id="raceName"  th:field="*{raceName}" class="form-control"/>
                <label for="raceKm">Versenytáv:</label>
                <input type="number" id="raceKm" th:field="*{raceKm}" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Add Race</button>
        </form>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form th:action="@{/}" th:method="get">
            <button class="btn btn-primary btn-lg px-4 mr-1 gap-3" type="submit">Kezdőlap</button>
        </form>
        <form th:action="@{/races}" th:method="get">
            <button type="submit" class="btn btn-primary btn-lg px-4 mr-1 gap-3">Versenyek</button>
        </form>
    </div>
    </body>
    </html>